# project resources
/.env
/.env.*

# system resources
.DS_Store
/.vscode
npm-debug.log*
pnpm-debug.log*
pnpm-lock.yaml
turbo-lint.log
yarn-debug.log*
yarn-error.log*

# app resources
/coverage
/dist
/node_modules
